.entete__header{
    background-image: url('./image/25231.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 100% 50%;
}

@media screen and (max-width: 600px) {
    .entete__header{
        background-position: 50% 50%;
    }

}
