/*
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/
:root {

    // --couleur-arriere-entete: #e5fa28;
    // --couleur-arriere-accueil: #929b4e;
    // --couleur-arriere-evenement: #e6a24f;
    // --couleur-arriere-galerie: #2d5633;
    // --couleur-arriere-footer: #a8bcf5;
    --width-section: 1100px;
    --min-height: 40vh;

    --nb-element: 5;
    --increment-angle: calc(360/var(--nb-element));
    // 360/5 = 72
    --angle-initial: 287;
    --hue1: var(--angle-initial);
    --hue2: calc(var(--hue1) + var(--increment-angle));
    --hue3: calc(var(--hue2) + var(--increment-angle));
    --hue4: calc(var(--hue3) + var(--increment-angle));
    --hue5: calc(var(--hue4) + var(--increment-angle));


    --s-arriere: 100%;
    --l-arriere: 50%;
    --s: 100%;
    --l: 75%;
    // --couleur-arriere-entete: hsl(var(--hue1), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-accueil: hsl(var(--hue2), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-evenement: hsl(var(--hue3), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-galerie: hsl(var(--hue4), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-footer: hsl(var(--hue5), var(--s-arriere), var(--l-arriere));

    // --couleur-entete: hsl(var(--hue1), var(--s), var(--l));
    // --couleur-accueil: hsl(var(--hue2), var(--s), var(--l));
    // --couleur-evenement: hsl(var(--hue3), var(--s), var(--l));
    // --couleur-galerie: hsl(var(--hue4), var(--s), var(--l));
    // --couleur-footer: hsl(var(--hue5), var(--s), var(--l));

    --hue2: calc(var(hue1)+180);
    --hue3: calc(var(hue3)+240);
    --couleur-arriere-entete: hsl(var(--hue1), var(--s-arriere), 60%);
    --couleur-arriere-accueil: hsl(var(--hue1), var(--s-arriere), 65%);
    --couleur-arriere-evenement: hsl(var(--hue3), var(--s-arriere), 70%);
    --couleur-arriere-galerie: hsl(var(--hue2), var(--s-arriere), 75%);
    --couleur-arriere-footer: hsl(var(--hue1), var(--s-arriere), 80%);
}