a {
    color: red;
    text-shadow: 0px 0px 6px #000000;

    &:hover,
    &:focus {
        color: blue;
    }

    &:active {
        color: purple;
    }

    &:visited {
        color: rgb(213, 71, 73);
    }
}